<h3><%= @idea.name  %></h3>
Description: <%= @idea.description %><br><br>

<%= button_to "Edit", edit_user_idea_path(current_user, @idea.id), class: "btn btn-primary btn-sm", method: :get %><br>
<%= button_to "Delete", user_idea_path(current_user, @idea.id), class: "btn btn-danger btn-sm", method: :delete %><br><br>
